body{
	font-family: 'Montserrat', sans-serif;
	background: black;
	color: white;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.logo img{
	width: 300px;
	padding: 20px;
}
.profile img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 750px;
}
h1{
	color: white;
	position: absolute;
	top: 285px;
	right: 400px;
	font-size: 40pt;
}
.text1, .text2{
	color: white;
	font-size: 35pt;
	margin-block: auto;
	margin-left: auto;
	margin-right: auto;

}
.blok-gebarentaal{
	display: grid;
	grid-template-areas: 
	'text text'
	'info video'
}
.blok-info{
	grid-area: info;
	margin-left: 25%;
	width: 50%;
	text-align: right;

}
.blok-video{
	grid-area: video;

}
.text1{
	grid-area: text;
}
.blok-photo2 img{
	max-width: 75%;
}
.blok-projecten{
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-template-areas: 
	'text2 text2'
	'photo2 info2'
}
.text2{
	grid-area: text2;
}
.blok-info2{
	grid-area: info2;
}
.blok-photo2{
	grid-area: photo2;
}
button{
	background-color: white; /* Green */
	border: 2px solid white;
	  color: black;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  border-radius: 10px;
}
button:hover{
	background-color: black;
	color: white;
	border: 2px solid #4CAF50;
}