body{
	font-family: 'Montserrat', sans-serif;
	background: black;
	color: white;
	font-style: normal;
}
.logo img{
	max-width: 300px;
	padding: 20px;
}
.profile img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 750px;
}
h1{
	color: white;
	position: absolute;
	top: 285px;
	right: 400px;
	font-size: 40pt vw;
}
hr{
	width: 25%;
	size: "2";
	color: white;
	margin-top: 100px;
	margin-bottom: 25px;
}
.text1, .text2, .text3{
	text-align: center;
	color: white;
	font-size: 35pt;
	margin-block: auto;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;

}
.blok-gebarentaal{
	display: grid;
	grid-template-areas: 
	'text text'
	'info video'
}
.blok-info{
	grid-area: info;
	margin-left: 25%;
	width: 50%;
	text-align: right;

}
.blok-video{
	grid-area: video;

}
.text1{
	grid-area: text;
}
#photo{
	width: 100%;
}
.blok-projecten{
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 20% 40% 40%;
	grid-template-areas: 
	'text2 text2 text2'
	'info2 photo2 figma2'
	'info3 photo3 figma3'
	'info4 photo4 figma4'
	'info5 photo5 figma5'
}
.blok-projecten a{
	color: white;
	text-decoration: none;
}
.blok-projecten a:hover{
	color: #94c9a9;
	text-decoration: underline;
}

.text2{
	grid-area: text2;
}
.blok-info2{
	grid-area: info2;
}
.blok-photo2{
	grid-area: photo2;
}
.blok-figma2{
	grid-area: figma2;
}
.blok-info3{
	grid-area: info3;
}
.blok-photo3{
	grid-area: photo3;
}
.blok-figma3{
	grid-area: figma3;
}
.blok-info4{
	grid-area: info4;
}
.blok-photo4{
	grid-area: photo4;
}
.blok-figma4{
	grid-area: figma4;
}
.blok-info5{
	grid-area: info5;
}
.blok-photo5{
	grid-area: photo5;
}
.blok-figma5{
	grid-area: figma5;
}
#title{
	font-size: 20pt;
}
.blok-fotografie{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-areas: 
	'text3 text3'
	'infofoto fotos'
}
.blok-infofoto{
	grid-area: infofoto;
    margin-left: 25%;
    width: 50%;
    text-align: right;
}
.blok-fotos{
	grid-area: fotos;
}
.text3{
	grid-area: text3;
}
.content{
	display: grid;
	grid-template-columns: 40% 40%;
	grid-template-areas: 
	'1 2'
	'3 4'
	'5 6'
	'7 8'
}
.content img{
	max-width: 100%;
}
.1{
	grid-area: 1;
}
.2{
	grid-area: 2;
}
.3{
	grid-area: 3;
}
.4{
	grid-area: 4;
}
.5{
	grid-area: 5;
}
.6{
	grid-area: 6;
}
.7{
	grid-area: 7;
}
.8{
	grid-area: 8;
}

main{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
footer{
	background: linear-gradient(180deg, #000000 0%, #888888 100%);
	height: 300px;
	padding: 50px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 35% 35% 35%;
	grid-template-areas: 
	'f1 f2 f3'
}
footer a{
	color: red;
}
.footer1{
	grid-area: f1;
}
.footer2{
	grid-area: f2;
}
.footer3{
	grid-area: f3;
}
header{
	background: linear-gradient(360deg, #000000 0.91%, #888888 98.83%);
}
@media screen and (max-width: 800px) {
	body{
		width: 100%;
	}
	main{
		width: 90%;
	}
	.profile img{
	width: 100%;
	height: 100%;
	}
	.logo img{
	max-width: 200px;
	padding: 20px;
	}
	.blok-gebarentaal{
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas: 
	'text'
	'info'
	'video'
}
.blok-info{
	grid-area: info;
	width: 100%;
	text-align: left;
	margin-left: unset;

}
.blok-projecten{
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 100% 100%;
	grid-template-areas: 
	'text2'
	'info2'
	'photo2'
	'info3'
	'photo3'
	'info4'
	'photo4'
	'info5'
	'photo5'
}
.blok-figma2, .blok-figma3, .blok-figma4, .blok-figma5{
	display: none;
}
h1{
	color: white;
	position: absolute;
	top: 14%;
	right: 6%;
	font-size: 20pt ;
}
footer{
	height: 750px;
	padding: 50px;
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas: 
	'f1'
	'f2'
	'f3'
}
.text1, .text2, .text3{
	font-size: 25pt;

}

