body{
	font-family: 'Montserrat', sans-serif;
	background: black;
	color: white;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.logo img{
	width: 300px;
	padding: 20px;
}
.profile img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 750px;
}
h1{
	color: white;
	position: absolute;
	top: 285px;
	right: 400px;
	font-size: 40pt;
}
hr{
	width: 25%;
	size: "2";
	color: white;
	margin-top: 100px;
	margin-bottom: 25px;
}
.text1, .text2{
	color: white;
	font-size: 35pt;
	margin-block: auto;
	margin-left: auto;
	margin-right: auto;

}
.blok-gebarentaal{
	display: grid;
	grid-template-areas: 
	'text text'
	'info video'
}
.blok-info{
	grid-area: info;
	margin-left: 25%;
	width: 50%;
	text-align: right;

}
.blok-video{
	grid-area: video;

}
.text1{
	grid-area: text;
}
#photo{
	max-width: 100%;
}
.blok-projecten{
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 20% 40% 40%;
	grid-template-areas: 
	'text2 text2 text2'
	'info2 photo2 figma2'
	'info3 photo3 figma3'
	'info4 photo4 figma4'
	'info5 photo5 figma5'
}

.text2{
	grid-area: text2;
}
.blok-info2{
	grid-area: info2;
}
.blok-photo2{
	grid-area: photo2;
}
.blok-figma2{
	grid-area: figma2;
}
.blok-info3{
	grid-area: info3;
}
.blok-photo3{
	grid-area: photo3;
}
.blok-figma3{
	grid-area: figma3;
}
.blok-info4{
	grid-area: info4;
}
.blok-photo4{
	grid-area: photo4;
}
.blok-figma4{
	grid-area: figma4;
}
.blok-info5{
	grid-area: info5;
}
.blok-photo5{
	grid-area: photo5;
}
.blok-figma5{
	grid-area: figma5;
}
#title{
	font-size: 20pt;
}
